<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Liste Contrat</h1>
    </div>

    <div class="content-wrapper">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="input-group mb-3 col-sm-6">
                              <input type="text" class="form-control" placeholder="Search ..." aria-label="Recipient's username">
                              <div class="input-group-append">
                                    <span class="input-group-text"><i class="fa fa-search"></i></span>
                              </div>
                        </div>
                        <div class="col-sm-6">
                            <a class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="material-icons">&#xE147;</i> <span>Ajouter</span></a>					
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>
                                <span class="custom-checkbox">
                                    <input type="checkbox" id="selectAll">
                                    <label for="selectAll"></label>
                                </span>
                            </th>
                            <th>Type de Contrat</th>
                            <th>Nbr heures de travail (Semaine) </th>
                            <th>Salaire Brut</th>
                            <th>Nbr Congés Payés (30 Jr)</th>
                            <th>Utilisateur</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- *ngFor= "let [--obj--] of [--list result in component--] " -->
                        <tr *ngFor="let contrat of contratList">
                            <td>
                                <span class="custom-checkbox">
                                    <input type="checkbox" id="checkbox1" name="options[]" value="1">
                                    <label for="checkbox1"></label>
                                </span>
                            </td>
                            <td>{{contrat.typeContrat}}</td>
                            <td>{{contrat.nbrHeure}}</td>
                            <td>{{contrat.salaireBrut}}</td>
                            <td>{{contrat.nbrConges}}</td>
                            <td>{{contrat.utilisateur}}</td>
                            <td>
                                <!-- <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button> -->
                                <a class="edit" (click)="openModal(template, contrat)"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                                <a class="delete" (click)="deleteContratRows(contrat._id)"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                            </td>
                        </tr>
                       
                    </tbody>
                </table>
                <div class="clearfix">
                    <div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div>
                    <ul class="pagination">
                        <li class="page-item disabled"><a href="#">Previous</a></li>
                        <li class="page-item"><a href="#" class="page-link">1</a></li>
                        <li class="page-item"><a href="#" class="page-link">2</a></li>
                        <li class="page-item active"><a href="#" class="page-link">3</a></li>
                        <li class="page-item"><a href="#" class="page-link">4</a></li>
                        <li class="page-item"><a href="#" class="page-link">5</a></li>
                        <li class="page-item"><a href="#" class="page-link">Next</a></li>
                    </ul>
                </div>
            </div>
        </div>        
    </div>


  
  <!-- Add Modal -->
   <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ajouter un Contrat</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
            <form (submit)="onAddContratSubmit()" class="contrat">		
                    <div class="form-group">
                        <label for="exampleInputTypeContrat" class="form-label">Type de Contrat</label>
                        <input type="text" [(ngModel)]="typeContrat" name="typeContrat" class="form-control" id="exampleInputTypeContrat">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputNbrHeures" class="form-label">Nbr heures de travail (Semaine)</label>
                        <input type="text" [(ngModel)]="nbrHeure" name="nbrHeure" class="form-control" id="exampleInputNbrHeures">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputSalaireBrut" class="form-label">Salaire Brut</label>
                        <input type="text" [(ngModel)]="salaireBrut" name="salaireBrut" class="form-control" id="exampleInputSalaireBrut">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputNbrConges" class="form-label">Nbr Congés Payés (30 Jr)</label>
                        <input type="text" [(ngModel)]="nbrConges" name="nbrConges" class="form-control" id="exampleInputNbrConges">
                    </div>			 
                     <div class="form-group">
                    <label for="exampleInputUtilisateur" class="form-label">Utilisateur</label>
                    <select class="form-control" aria-label="Default select example" [(ngModel)]="userId" name="userId">
                        <option selected>Sélectionner...</option>
                        <option *ngFor="let user of usersList" value="{{user._id}}">{{user.nom}}</option>
                      </select>
                    </div>
            

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                        <button type="submit" class="btn btn-primary">Ajouter</button>
                      </div>
              
                  </form>
        </div>
        
      </div>
    </div>
  </div> 




<!-- Edit Modal -->
<ng-template #template>
        <div class="modal-header">
          <h5 class="modal-title pull-left" id="exampleModalLabel">Modifier un Contrat</h5>
          <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
            <span aria-hidden="true" class="visually-hidden">&times;</span>
          </button>
          </div>
        <div class="modal-body">
          <form [formGroup]="editForm" novalidate>		
                                       
                    <div class="form-group">
                        <label for="typeContrat">Type Contrat</label>
                        <div class="input-group">
                          <input formControlName="tyContrat" class="form-control">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="nbrHeure">Nbr heures de travail (Semaine)</label>
                        <div class="input-group">
                          <input formControlName="nbH" class="form-control">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="salaireBrut">Salaire Brut</label>
                        <div class="input-group">
                          <input formControlName="salBrut" class="form-control">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="nbrConges">Nbr Congés Payés (30 Jr)</label>
                        <div class="input-group">
                          <input formControlName="nbConge" class="form-control">
                        </div>
                      </div>
                    
                     <div class="form-group">
                    <label for="utilisateur" class="form-label">Utilisateur</label>
                    <div class="input-group">
                    <select class="form-control" formControlName="utils" aria-label="Default select example">
                        <option selected>Sélectionner...</option>
                        <option *ngFor="let user of usersList" value="{{user._id}}">{{user.nom}}</option>
                      </select>
                    </div>
                    </div>

                    <div class="modal-footer">
                      <button type="submit" class="btn btn-primary" (click)="onEditContratSubmit()">Modifier</button>
                      <button type="button" class="btn btn-secondary" aria-label="Close" (click)="modalRef?.hide()">Fermer</button>
                    </div>
                  </form>
        </div>
        
        </ng-template>